<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>
		</header>
		
		<!-- Menu de navegacion -->
		<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar">Fi Unju</a></li>
				<li><a href="https://desarrolladoresweb.org/html/introduccion-a-html/#google_vignette">Introduccion a html</a>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Aula Virtual de PV</a></li>
				<li><a href="https://github.com/Francisco370/Trabajo_Practico_3.git">Mi repositorio</a></li>
			</ul>
		</nav>
		
		<!-- Contenido principal -->
		<main>
		<!-- Secciones  -->
			<section id="inicio">
				<h2>Programacion Visual</h2>
				<p>Materia de 2do año de la carrera Analista Programador Universitario</p>
				<h3>Docente</h3>
				<ol>
					<li>Vega Ariel</li>
					<li>Apaza Carolina</li>
					<li>Sosa Gustavo</li>
					<li>Rodriguez Juan Carlos</li>
				</ol>
			</section>
			
			<section id="seccion2">
				<h2>Programa de la materia</h2>
				<p>Contenido de la materia Programacion Visual</p>
				<h3>Unidades</h3>
				<ol>
					<li>Lenguaje Java</li>
					<li>Introduccion a Spring Boot</li>
					<li>Spring Boot MVC</li>
					<li>Clases de negocio</li>
					<li>Persistencia de Objetos</li>
					<li>Manejo de formularios</li>
				</ol>
			</section>
			
			<section id="seccion3">
				<h2>Planificacion</h2>
				<p>Instalar los programas a utilizar en el materia</p>
				<h3>Material</h3>
				<ol>
					<li>Crear cuenta en GitHub</li>
					<li>Instalar Java 17</li>
					<li>Instalar Spring Tool Suite
						<ol>
							<li>Descargar desde la pagina oficial</li>
							<li>Ejecutar el instalador</li>
							<li>Seleccionar el Workspaces</li>
							<li>Hacer click en Launch</li>
						</ol>
					</li>
				</ol>
			</section>
			
			<!-- Tabla de horarios comisiones -->
			<table >
				
  				<tr>
    				<th>Comision 1</th>
    				<th>Lunes</th>
    				<th>18:00 a 21:00</th>
  				</tr>
  				<tr>
    				<th>Comision 2</th>
    				<th>Jueves</th>
    				<th>14:00 a 17:00</th>
  				</tr>
  				<tr>
    				<th>Comision 3</th>
    				<th>Lunes</th>
    				<th>18:00 a 21:00</th>
  				</tr>
			</table>
		</main>
		
		<!-- Contenido adicional -->
		<aside>
			<h3>Facultad de Ingenieria</h3>
			<p>Pagina de la Facultad de Ingenieria</p>
			<h3><a href="https://www.fi.unju.edu.ar/">Unju Virtual</a></h3>
			<img alt="imagen" src="../static/image/Coat_of_arms_of_Argentina.svg.png">
		</aside>
	</body>
</html>