<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>
		</header>
		
		<!-- Menu de navegacion -->
		<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar">Fi Unju</a></li>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Aula Virtual de PV</a></li>
				<li><a href="https://github.com/Francisco370/Trabajo_Practico_3.git">Mi repositorio</a></li>
			</ul>
		</nav>
		
		<!-- Contenido principal -->
		<main>
		<!-- Secciones  -->
			<section id="inicio">
				<h2>Programacion Visual</h2>
				<p>Materia de 2do año de la carrera Analista Programador Universitario.
				Se experimenta con la creación de aplicación multicapa del tipo RIA 
				(Rich Internet Application) utilizando frameworks de desarrollo usados en la industria del software 
				ponderando la automatización de las técnicas de versionamiento, el trabajo en equipo y la investigación.
				Se recomienda que los estudiantes posean un conocimiento previo de resolución de problemas 
				con algoritmos y programación.
				</p>
				<h3>Docentes a Cargo</h3>
				<ul>
					<li>Profesor Asociado: Ariel Alejandro Vega</li>
					<li>Profesor Adjunto: Gustavo Sosa</li>
					<li>Jefe de Trabajos Prácticos: Carolina Apaza</li>
					<li>Ayudante de Primera: Juan Carlos Rodriguez</li>
				</ul>
			</section>
			
			<section id="seccion2">
				<h2>Programa de la materia</h2>
				<p>Plan de estudios</p>
				<h3>Unidades</h3>
				<ol>
					<li>
						Lenguaje Java
						<p>
						Tipos de datos primitivos y complejos. Estructuras de datos. Operadores. Uso de Strings, Arreglos y
						Colecciones. Conceptos generales de la Programación Orientada a Objetos. Clases y objetos: Definición y
						Ejemplos.
						</p>
					</li>
					<li>
						Introduccion a Spring Boot
						<p>
						Arquitectura de aplicaciones Web. Herramientas necesarias. ¿Qué es un Framework? Evolución de Spring.
						Módulos disponibles. Arquitectura de una aplicación con Spring. Creación de proyectos con Spring Boot en
						un IDE. Concepto de Controladores. Gestión de peticiones con RequestMapping. Introducción a HTML.
						Estructura de un documento HTML. Introducción a CCS. Creación de un sitio Web HTML
						</p>
					</li>
					<li>
						Gestión de Dependencias y Versionamiento
						<p>
						Gestión de Proyectos mediante un sistema de control de versionamiento. Git: tareas de versionamiento con
						Git. Integración de Git con un IDE.
						Maven: descripción y utilidad. Descripción de la estructura de un proyecto Maven. Gestión de dependencias,
						repositorio Maven. Uso de arquetipos Maven. Spring boot y Maven.
						</p>
					</li>
					<li>
						Spring Boot MVC
						<p>
						Thymeleaf como motor de templates. Creación de un proyecto MVC con Spring Boot y thymeleaf.
						Configuración de propiedades mediante el fichero properties o yml. Introducción a Bootstrap: concepto e
						implementación de componentes. Navbar. Grillas con Bootstrap. Cards. Buttons. Breadscrumb. 
						</p>
					</li>
					<li>
						Clases de negocio
						<p>
						Creación de clases de negocio. Clases de Servicio. Concepto de Inyección de dependencias. Vinculación entre
						clases de negocio con Servicios. Agregar objetos al modelo (Model). Renderizado de la UI con Thymeleaf. 
						</p>
					</li>
					<li>
						Persistencia de Objetos
						<p>
						Conceptos básicos de persistencia de objetos. Introducción a JPA. Conexión a un Motor de Base de Datos.
						Configuración de JPA con Spring Boot. CrudRepository, JpaRepository, Query Methods, Relaciones. Sistema
						de trazas: configuración con Spring Boot. 
						</p>
					</li>
					<li>
						Manejo de formularios
						<p>
						Gestión de eventos. Búsquedas. CRUD de clases de negocio. Operaciones de negocio. Uso de @Query para
						consultas personalizadas. Integración con componentes Bootstrap y thymeleaf. Integración de conceptos en
						una aplicación robusta.
						</p>
					</li>
				</ol>
				
				<!-- Tabla de horarios comisiones -->
				<h3>Horarios de las materias</h3>
				<table >
					<tr>
				    	<th></th>
				   	 	<th>Día</th>
				    	<th>Hora</th>
				    	<th>Modalidad</th>
				  	</tr>
					<tr>
    					<td>Teoria</td>
    					<td>Miercoles</td>
    					<td>14:00 a 17:00</td>
    					<th>Virtual - <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></th>
  					</tr>
  					<tr>
    					<td>Comision 1</td>
    					<td>Lunes</td>
    					<td>18:00 a 21:00</td>
    					<th>Virtual - <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></th>
  					</tr>
  					<tr>
    					<td>Comision 2</td>
    					<td>Jueves</td>
    					<td>14:00 a 17:00</td>
    					<th>Virtual - <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></th>
  					</tr>
  					<tr>
    					<td>Comision 3</td>
    					<td>Viernes</td>
    					<td>18:00 a 21:00</td>
    					<th>Virtual - <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></th>
  					</tr>
				</table>
			</section>
			
			<section id="seccion3">
				<h2>Herramientas a utilizar</h2>
				<p>Instalar las siguientes herramientas en su computadora para utilizar
				durante la cursada de la materia
				</p>
				<h3>Pasos a seguir</h3>
				<ol>
					<li>
						Crear cuenta en GitHub:
						<ul>
							<li><a href="https://github.com/">Click para ir</a></li>
						</ul>
					</li>
					<li>
						Instalar Java 17 para Windows
						<ul>
							<li><a href="https://www.oracle.com/ar/java/technologies/downloads/#java17">Click para ir</a></li>
						</ul>
					</li>
					<li>
						Descargar Spring Tool Suite para Eclipse
						<ul>
							<li><a href="https://spring.io/tools">Click para ir</a></li>
						</ul>
					</li>
				</ol>
			</section>
			
		</main>
		
		<!-- Contenido adicional -->
		<aside>
			<h3>Facultad de Ingenieria</h3>
			<p>Pagina de la Facultad de Ingenieria</p>
			<h3><a href="https://www.fi.unju.edu.ar/">Unju Virtual</a></h3>
			<img alt="imagen" src="../static/image/Coat_of_arms_of_Argentina.svg.png">
		</aside>
		
		<footer>
			<h4>Correo: info@fi.unju.edu.ar</h4>
			<div>
				<h4>Redes Sociales</h4>
				<a href="https://es-la.facebook.com/unjuvirtual/" target="_blank"><img src="../static/img/facebook-icon.svg" alt="facebook" width="65"
					height="65"></a>
				<a href="https://www.instagram.com/unjuvirtual/" target="_blank"><img src="../static/img/instagram-icon.svg"
					alt="instagram" width="65" height="65"></a>
			</div>
			<p>Copyright © 2024 - Cristian Rojas</p>
		</footer>
	</body>
</html>